
@keyframes  key-c {
    0% {
        stroke-dasharray: 0 1500;
        opacity: 1;
    }
    100% {
        stroke-dasharray: 1500 1500;
        opacity: 1;
    }
    
}
:root {
    --main-color: #078BC5;
    --secondary-color: #3BA9D2;
}
/* Start Components */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Kufi Arabic', sans-serif;
}
img,
video {
    max-width: 100%;
}
.container {
    padding: 0px 15px;
}
@media (min-width: 992px) {
    .container {
        padding: 0px 50px;
    }
}
@media (max-width: 576px) {
    h2 {
        font-size: 18px;
    }
    p {
        font-size: 13px;
    }
}
section {
    padding-top: 20px;
    padding-bottom: 20px;
}
video {
    max-width: 100%;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
/* End Components */
.section-title {
    text-align: center;
    margin-bottom: 30px;
}
/* Start circle  */
.circle {
    position: relative;
}
.circle > :nth-child(2) {
    position: absolute;
    top: 68%;
    left: 50%;
    width: calc(100% + 33px);
    height: calc(100% + 30px);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow: visible;
}
path {
    stroke: white;
    stroke-width: 9;
    fill: none;
    opacity: 0;
    stroke-dasharray: 0 1500;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    animation: key-c 3s linear  infinite ;

}

.circle > :nth-child(2) {
    stroke: white;
    stroke-width: 3px;
    fill: transparent;
}
/* End circle  */
/* Start wave  */
.container-wave {
    position: relative;
    background: #39A2D1;
    height: 20px;
  }
  
  .wave {
    position: absolute;
    height: 70px;
    width: 100%;
    background: #39A2D1;
    bottom: -50px;
  }
  
  .wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50% 100%;
  }




  
  .wave::before {
    width: 50%;
    height: 100%;
    background-color: #39A2D1;
    right: 0%;
    top: 40%;
  }
  .wave::after {
    width: 53%;
    height: 109%;
    background-color: #fff;
    left: 4.5%;
    top: 60%;
  }
/* Start  container-wave-reverse */


/* End  container-wave-reverse */
/* Start floating Whatsapp  */
.float-w{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:18px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
.my-float{
    margin-top:16px;
}
.primary-btn {
    border: 2px solid var(--main-color);
    width: fit-content;
    margin: 15px auto;
    padding: 8px 12px;
    border-radius: 80px;
    /* animation: scaling .7s linear infinite backwards; */
    text-align: center;
    min-width: 240px;
    cursor: pointer;
    transition: .3s;
}
.primary-btn a {
    text-decoration: none;
    color: var(--main-color);
    transition: .3s;

}

.primary-btn.white {
    border: 2px solid white;
    color: white;
    transition: .3s;

}
.primary-btn.white a {
    color: white;
    transition: .3s;

}
.primary-btn:hover {
    background-color: var(--main-color);
    color: white;
}
.primary-btn:hover a {
    color: white
}
/* End floating Whatsapp  */
/* Start my-slash */
.my-slash {
    position: relative;
}
.my-slash svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow: visible;
}
.my-slash svg path {
     fill: var(--secondary-color);
    stroke: white;
    stroke-width: 5px;
 }
 .my-slash.whtie  svg path{

    fill: white;
    stroke: var(--main-color);

 }
 .my-slash.eee  svg path{

    fill: #eee;
    stroke: var(--main-color);

 }
/* End my-slash */

/* Start footer  */
footer {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer .contact  a {
    text-decoration: none;
    color: white ;
}
footer img {
    width: 80px;
}
footer i {

}

.fill-none {
    fill: transparent !important;
    stroke: var(--main-color) !important;
}