/* Start home section  */
section.home {
    text-align: center;
    position: relative;
}
section.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--main-color);
    width: 100%;
    height: 100%;
    z-index: -3;
    opacity: .8;
}
section.home h1 {
    font-size: 40px;
}
section.home .logo img {
    width: 65px;
}
section.home video {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;    
}
section.home .video {
    background-image: linear-gradient(to bottom, #1f1f1f, #111);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);    
    width: fit-content;
    max-width: 600px;
    margin: auto;
}
section.home .overlay-imgs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/flying-person.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 225px;
    height: 180px;
}
@media (min-width: 576px) {
    section.home .overlay-imgs::before  {
        left: auto;
        right: 30px;
        top: 10px;
    }
}
@media (max-width: 768px) {
    section.home .overlay-imgs::before  {
        z-index: -4;
    }
}

section.home .overlay-imgs::after {
    content: "";
    position: absolute;
    background-image: url(../img/sound.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100px;
    height: 100px;
    bottom: 45px;
    left: 10px;
}

@media (max-width: 768px) {
    section.home .overlay-imgs::after  {
        z-index: -4;
    }
}
/* End home section  */

/* Start testimoails  */
section.testimonials {
    padding-top: 80px;
    text-align: center;
}
section.testimonials .box {
    background: #eeeeee85;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 1px #00000021;
    min-height: 200px;
    transition: .3s;
}
section.testimonials .box:hover {
    transform: scale(1.1);
}
section.testimonials .box  .starts img {
    width: 175px;
}
section.testimonials blockquote {
    position: relative;
    font-size: 13px;
}
@media (min-width: 992px) {
    section.testimonials blockquote {
        font-size: 15px;
    }
}
section.testimonials blockquote::before {
    content: "\f10e";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    color: var(--main-color);
    z-index: 99999999;
}
section.testimonials blockquote::after {
    content: "\f10d";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    bottom: 10px;
    left: -6px;
    width: 20px;
    height: 20px;
    color: var(--main-color);
    z-index: 99999999;
}
/* End testimoails  */
/* Start Section why-us  */
section.why-us {
    background: var(--secondary-color);
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    color: white;
    border-radius: 25px 25px 0px 0px;
}


section.why-us .box {
    position: relative;
}
section.why-us .box:nth-child(1),
section.why-us .box:nth-child(3) {
    margin-top: 30px;
}
section.why-us .box::before {
    position: absolute;
    content: "1";
    width: 100%;
    height: 100%;
    font-size: 148px;
    color: white;
    top: 0px;
    opacity: 0.1;
    margin-top: -87px;
    right: 0;
}
section.why-us .box:nth-child(1)::before {
    content: "2";
}
section.why-us .box:nth-child(3)::before {
    content: "3";
}
@media (max-width: 768px) {
    section.why-us .box::before  {
        content: ""!important;
    }
}
section.why-us .box > * {
    position: relative;
    z-index: 33;
}
@media (max-width: 576px ) {
    section.why-us .box p {
        font-size: 13px;
        text-align: center;
    }
}
section.why-us .box p {

}
section.why-us .box .img {
    width: 50px;
    margin: auto;
}
section.why-us .box h3 {
    color: black;
    margin-bottom: 10px;
    min-height: 75px;
    text-align: center;
}

/* End Section why-us  */
/* Start benefet */
section.benefet  {
    background-color: #f8f8f8;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23150a27' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
}
section.benefet .contianer-text {
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 600px;
    margin: auto;
}
section.benefet .texts img {
    width: 80px;
}
/* End benefet */
/* Start over section  */
section.over {
    background-color: #f8f8f8;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23150a27' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");    
}
section.over .texts {
    margin: auto;
    max-width: 600px;
}
section.over .contianer-text-over {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
@media (max-width: 576px) {
    .contianer-text-over  {
        flex-direction: column;
    }
    
}
section.over .contianer-text-over > div {
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: center;
}
@media (max-width: 576px) {
    section.over .contianer-text-over > div  {
        flex-direction: column;
    }
    
}
section.over .contianer-text-over > div p {
    font-size: 20px;
}
section.over .contianer-text-over img {
    display: inline-block;
    width: 80px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #0000ff4f;
    padding: 3px;
    margin-left: 15px;
}
.total-price {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}
.total-price p:first-child {
    font-weight: bolder;
    font-size: 40px;
    color: #000000ab;
    position: relative;
    color: var(--main-color);
    width: fit-content;
    margin: auto;
 }
 .total-price p:first-child::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    top: 16px;
    left: 0;
    background-color: var(--main-color);
    width: 100%;
    transform: rotate(-20deg);
    opacity: .6;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    background: black;
 }
 .total-price > :last-child {
    margin-bottom: 15px;
    font-family: cursive;
 }
section.over  .old-price {
    color: var(--main-color);
    position: relative;
    min-width: 80px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}
.total-price svg {
    margin-top: 10px;
}
.total-price path {
    fill:transparent;
    stroke: var(--main-color);
}
.over .primary-btn {
    margin-bottom: 30px;
    font-size: 14px;
}
.final-price {
    font-size: 16px;
    font-family: cursive;
}
/* End over section  */





@keyframes  c {
    0% {
        stroke-dasharray: 0 1500;
        opacity: 1;
    }
    100% {
        stroke-dasharray: 1500 1500;
        opacity: 1;
    }
    
}